html {
  // Default font sizes are too small, I think. At a standard 1em = 16px,
  // 1.375em becomes 22px.
  font-size: 1.375em;
  font-family: "Noto Serif";

  // The viewport width changes slightly if there's a scrollbar or now,
  // causing the layout to shift when navigating between long and short
  // pages. There are a few ways to try to deal with this, but here I
  // just force there to always be a scrollbar.
  overflow-y: scroll;
}

header {
  // Header image of galaxy map, flush to edges of viewport. Scrolls off, 3em
  // high. `position: absolute` so that the `maxwidth` div can overlap it
  // visually, which is necessary to keep the banner text roughly centered
  // when the viewport is wide.
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  z-index: -100;
  background-image: url("1600x64-birth2_death_milkyway_hi.png");
}

#banner {
  // Banner text "Peter K. G. Williams" overlaying the header image. It's
  // inside the `maxwidth` div to stay roughly centered when the viewport is
  // wide. It's a <p> tag (Markdown produces <h1>-<h6> tags so I want to save
  // keeps it about vertically centered in the <header> imagetheir
  // styling to be nice and generic).
  margin: 0;
  height: 3rem;
  padding: 0.5rem 0 0 0;
  font-size: 2rem;
  font-weight: 700;
  font-family: Bitter;
  color: #FFF;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

  a {
    // The banner link to the main page gets special styling.
    color: #FFF;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

div.maxwidth {
  // To be refined!
  max-width: 50rem;
  padding: 0 1.5rem 0 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

div.sidebar {
  float: right;
  width: 12rem;
  margin-top: 1rem;
  background-color: rgba(0.7, 0.9, 0.9, 0.1);
}

div.content {
  max-width: 32rem;
  margin-top: 1rem;
}

.post {
  .post-title {
    font-size: 150%;
    font-weight: 700;
    margin: 0 0 0.2rem 0;

    a {
      text-decoration: none;
      color: #000;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .post-date {
    font-size: 80%;
    margin: 0 0 1rem 0;
    padding-left: 0.5rem;
  }
}


// Styling for generic Markdown

img {
  max-width: 100%;
}
